<footer class="footer">
    <div class="container">
        <div class="bottom_nav flex">
            <div class="flex infor_box_bottom">
                <ul class="flex nav_bot_item">
                    <li>
                        <a class="color_white" href="#">首頁</a>
                    </li>
                    <li>
                        <a class="color_white"  href="#">系列鏡框</a>
                    </li>
                    <li>
                        <a class="color_white"  href="#">門市據點</a>
                    </li>
                    <li>
                        <a class="color_white"  href="#">部落格</a>
                    </li>
                    <li>
                        <a class="color_white"  href="#">常見問題</a>
                    </li>
                </ul>
                <div class="store_infor_box">
                    <div class="store_infor mb_8">
                        <div class="icon pa_1">
                            <img src="../assets/images/ic-social-mobil.png" alt="mobil">
                        </div>
                        <a class="fs-3 color_white lh-15" href="#">
                            0800-000-000
                        </a>
                    </div>
                    <div class="store_infor">
                        <div class="icon">
                            <img src="../assets/images/ic-social-email.png" alt="email">
                        </div>
                        <a class="fs-3 color_white lh-15" href="#">
                            glasses@business.com
                        </a>
                    </div>
                </div>
            </div>
            <ol class="flex nav_bot_icon">
                <li>
                    <a href="#" class="icon">
                    <img src="../assets/images/ic-social-fb.png" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="#" class="icon">
                    <img src="../assets/images/ic_social_ig.png" alt="instagram">
                    </a>
                </li>
                <li>
                    <a href="#" class="icon">
                    <img src="../assets/images/ic_social_line.png" alt="line">
                    </a>
                </li>
            </ol>
        </div>
    
        <div class="copy_bottom flex">
            <div class="copyright color_white">
                Copyright © 2020 Glasses.All rights reserved.
            </div>
            <ul class="flex">    
                <li>
                    <a class="color_white fs-7" href="#">隱私權政策</a>
                </li>
                <li>
                    <a class="color_white fs-7" href="#">服務條款</a>
                </li>
            </ul>
        </div>
    </div>
</footer>