<div class="nav">
    <div class="flex container nav-bar">
        <h1 class="logo">
            <a href="../pages/index.html">Glasses-brand</a>
        </h1>
        <ul class="flex">
            <li>
                <a class="fs-5" href="../pages/product.html">系列鏡框</a>
            </li>
            <li>
                <a class="fs-5" href="../pages/store.html">門市據點</a>
            </li>
            <li>
                <a class="fs-5" href="../pages/blog.html">部落格</a>
            </li>
            <li>
                <a class="fs-5" href="../pages/qaPage.html">常見問題</a>
            </li>
        </ul>
    </div>      
</div>