<div class="pagination">
    <ul class="padination_style flex">
        <li><a href="#" class="page_a p_12 btn_pre">上一頁</a></li>
        <li><a href="#" class="page_a p_num">1</a></li>
        <li><a href="#" class="page_a p_num">2</a></li>
        <li><a href="#" class="page_a p_num">3</a></li>
        <li><a href="#" class="page_a p_num">4</a></li>
        <li><a href="#" class="page_a p_num">5</a></li>
        <li><a href="#" class="page_a p_12 btn_next">下一頁</a></li>
    </ul>
</div>