<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="banner_slide">
      <div class="container flex justify-content-e align-items-c h-100">
        <div class="headerBox lh-15">
          <h2 class="fs-3 color_winde_red bannerTitle">
            Promise-Desert 2020 早春系列
          </h2>
          <h3 class="fs-1  color_winde_red mb_4">
            看得清，才能看得遠
          </h3>
          <div class="but-shop">
            <a class="fs-5 color_white" href="#">
              立即購買</a>
          </div>
        </div>
      </div>
    </div>

    <div class="professional color_pink">
      <div class="pro_box container">
        <h4 class="fs-2 color_wine_red titleSection2 fw-bold">
          用專業的心，做專業的事
        </h4>
        <ul class="box_item flex">
            <li class="item_inside focuseBox1">
              <div class="pic">
                <img src="../assets/images/home-section2-1.png" alt="單一價格">
              </div>
              <h5 class="fs-4 color_wine_red">
                單一價格
              </h5>
              <p class="lh-15">
                無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。
              </p>
            </li>

            <li class="item_inside focuseBox2" >
              <div class="pic">
                <img src="../assets/images/home-section2-2.png" alt="20分鐘取件">
              </div>
              <h5 class="fs-4 color_wine_red">
                20 分鐘即可取件
              </h5>
              <p class="lh-15">
                為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。
              </p>
            </li>

            <li class="item_inside focuseBox3">
              <div class="pic">
                <img src="../assets/images/home-section2-3.png" alt="安心售後服務">
              </div>
              <h5 class="fs-4 color_wine_red">
                安心售後服務
              </h5>
              <p class="lh-15">
                我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
              </p>
            </li>

            <li class="item_inside focuseBox4">
              <div class="pic">
                <img src="../assets/images/home-sectioin2-4.png" alt="關於鏡片">
              </div>
              <h5 class="fs-4 color_wine_red">
                關於鏡片
              </h5>
              <p class="lh-15">
                使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。
              </p>
            </li>
        </ul>
      </div>
    </div>

    
    <div class="classic">
      <div class="container">
        <h4 class="fs-2 color_wine_red classicTitle fw-bold">
          經典系列鏡框
        </h4>
        <div class="card_box">
            <ul class="flex classicBox">
              <li>
                <div class="img_box">
                  <img src="../assets/images/home-section3-1.png" alt="OPTICAL">
                </div>
                <h4 class="fs-2 color_red fw-bold lh-15">OPTICAL</h4>
              </li>
              <li>
                <div class="img_box">
                  <img src="../assets/images/home-section3-2.png" alt="SUNGLASSES">
                </div>
                <h4 class="fs-2 color_red fw-bold  lh-15">SUNGLASSES</h4>
              </li>
              <li>
                <div class="img_box">
                  <img src="../assets/images/home-section3-3.png" alt="FUNCTIONAL">
                </div>
                <h4 class="fs-2 color_red fw-bold  lh-15">FUNCTIONAL</h4>
              </li>
            </ul>
        </div>
      </div>
    </div>
    
    <div class="section_brand">
      <div class="container">
        <h4 class="color_white title fs-2 bannerTitle2 fw-bold lh-15">聯名設計鏡框</h4>
        <div class="banner_box flex table_banner_box">
          <div class="item_left item-width">
            <div class="item_pic pic_left">
              <!-- <img src="../assets/images/home-section4-1.png" alt="示意圖"> -->
            </div>
            <h4 class="fs-2 color_red  fw-bold lh-15 h4">DOUBLE A+</h4>
          </div>
          <div class="item_right item-width">
            <div class="item_pic pic_right">
              <!-- <img src="../assets/images/home-section4-2.png" alt="眼鏡"> -->
            </div>
            <h4 class="fs-2 color_red  fw-bold lh-15 h4">YOUTH</h4>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="section_recommend">
      <div class="container">
        <h4 class="fs-2 color_wine_red title fw-bold lh-15">顧客推薦</h4>
        <ul class="flex item_box">
          <li class="box_style">
            <div class="img_box">
              <img src="../assets/images/home-section5-1.png"  alt="眼鏡廣告">
            </div>

            <div class="rec_title flex">
              <div class="item lh-15">
                <p>Jessy</p>
                <p>眼鏡品質優良，下次還會想來這邊購買！</p>
              </div>
              <div class="date fs-7 color_grey3 lh-15">2021/06/20</div>
            </div>
          </li>
          <li class="box_style">
            <div class="img_box">
              <img src="../assets/images/home-section5-2.png"  alt="眼鏡廣告">
            </div>
            <div class="rec_title flex">
              <div class="item lh-15">
                <p>凱倫</p>
                <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
              </div>
              <div class="date fs-7 color_grey3 lh-15">2021/04/18</div>
            </div>
          </li>
          <li class="box_style">
            <div class="img_box">
              <img src="../assets/images/home-section5-3.png"  alt="眼鏡廣告">
            </div>
            <div class="rec_title flex">
              <div class="item lh-15">
                <p>悠悠</p>
                <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
              </div>
              <div class="date fs-7 color_grey3 lh-15">2020/12/25</div>
            </div>
          </li>
          <li class="box_style">
            <div class="img_box">
              <img src="../assets/images/home-section5-4.png"  alt="眼鏡廣告">
            </div>
            <div class="rec_title flex">
              <div class="item lh-15">
                <p>Kyuan</p>
                <p>服務很好，品質沒有任何問題，非常喜歡。</p>
              </div>
              <div class="date fs-7 color_grey3 lh-15">2020/10/31</div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="contact_section">
      <div class="container contact_box">
        <h4 class="fs-2 color_wine_red title fw-bold lh-15">聯絡我們</h4>
        <p class="fs-5 lh-15">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
        <form class="form">
          <ul class="lh-15">
            <li>
              <label for="name">姓名</label>
              <input type="text" id="name" placeholder="陳小明" class="input">
            </li>
            <li>
              <label for="phone" class="label">聯絡電話</label>
              <input type="text" id="phone" placeholder="0912-345-678"  class="input">
            </li>
            <li>
              <label for="email" class="label">電子郵件</label>
              <input type="text" id="email" placeholder="example@email.com"  class="input">
            </li>
            <li>
              <label for="opinion" class="label">意見反應</label>
              <textarea class="opinion input" type="text" id="opinion" placeholder="請輸入您的意見" ></textarea>
            </li>
            <li class="privacy flex">
              <input class="checkbox" type="checkbox">
              <p>我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</p>
            </li>
          </ul>
        </form>
        <a href="#" class="form_btn color_white">確認送出</a>
      </div>
    </div>
    
    
    <%- include('./layout/footer'); -%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="../layout/index.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
