<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="nav_list">
        <div class="container">
            <ul class="flex">
                <li class="col-4">
                    <a href="#" class="list_txt fs-3 color_dark">OPTICAL</a>
                    <div class="hover_bar"></div>
                </li>
                <li class="col-4">
                    <a href="#" class="list_txt fs-3 color_dark">SUNGLASSES</a>
                    <div class="hover_bar"></div>
                </li>
                <li class="col-4">
                    <a href="#" class="list_txt fs-3 color_dark">FUNCTIONAL</a>
                    <div class="hover_bar"></div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="show_case">
        <div class="flex h-100">
            <div class="show_left show_box"></div>
            <div class="show_right show_box"></div>
        </div>
    </div>

    <section class="adding_frame padding_frame">
        <div class="container">
            <h2 class="title fs-2_6">Celluloid Combi</h2>
            <h3 class="sec_title fs-3">賽璐珞鈦金屬混合鏡框</h3>
            <ul class="product_list flex">
                <li class="col-box">
                    <a href="#" class="pro_1 pic_style"></a>
                    <div class="flex product_inf">
                        <p class="fs-4">BJ41600S</p>
                        <p class="fs-4 color_price">NTD3,490</p>
                    </div>
                    <div class="flex">
                        <div class="color_box color_brown_dark"></div>
                        <div class="color_box color_brown_normal"></div>
                    </div>
                </li>
                <li class="col-box">
                    <a href="#" class="pro_2 pic_style"></a>
                    <div class="flex product_inf">
                        <p class="fs-4">BJ41600S</p>
                        <p class="fs-4 color_price">NTD3,490</p>
                    </div>
                    <div class="flex">
                        <div class="color_box color_brown_dark"></div>
                        <div class="color_box color_brown_normal"></div>
                    </div>
                </li>
                <li class="col-box">
                    <a href="#" class="pro_3 pic_style"></a>
                    <div class="flex product_inf">
                        <p class="fs-4">BJ41600S</p>
                        <p class="fs-4 color_price">NTD3,490</p>
                    </div>
                    <div class="flex">
                        <div class="color_box color_brown_dark"></div>
                        <div class="color_box color_brown_normal"></div>
                    </div>
                </li>
                <li class="col-box">
                    <a href="#" class="pro_4 pic_style"></a>
                    <div class="flex product_inf">
                        <p class="fs-4">BJ41600S</p>
                        <p class="fs-4 color_price">NTD3,490</p>
                    </div>
                    <div class="flex">
                        <div class="color_box color_brown_dark"></div>
                        <div class="color_box color_brown_normal"></div>
                    </div>
                </li>
                <li class="col-box">
                    <a href="#" class="pro_5 pic_style"></a>
                    <div class="flex product_inf">
                        <p class="fs-4">BJ41600S</p>
                        <p class="fs-4 color_price">NTD3,490</p>
                    </div>
                    <div class="flex">
                        <div class="color_box color_brown_dark"></div>
                        <div class="color_box color_brown_normal"></div>
                    </div>
                </li>
                <li class="col-box">
                    <a href="#" class="pro_6 pic_style"></a>
                    <div class="flex product_inf">
                        <p class="fs-4">BJ41600S</p>
                        <p class="fs-4 color_price">NTD3,490</p>
                    </div>
                    <div class="flex">
                        <div class="color_box color_brown_dark"></div>
                        <div class="color_box color_brown_normal"></div>
                    </div>
                </li>
                <li class="col-box">
                    <a href="#" class="pro_7 pic_style"></a>
                    <div class="flex product_inf">
                        <p class="fs-4">BJ41600S</p>
                        <p class="fs-4 color_price">NTD3,490</p>
                    </div>
                    <div class="flex">
                        <div class="color_box color_brown_dark"></div>
                        <div class="color_box color_brown_normal"></div>
                    </div>
                </li>
                <li class="col-box">
                    <a href="#" class="pro_8 pic_style"></a>
                    <div class="flex product_inf">
                        <p class="fs-4">BJ41600S</p>
                        <p class="fs-4 color_price">NTD3,490</p>
                    </div>
                    <div class="flex">
                        <div class="color_box color_brown_dark"></div>
                        <div class="color_box color_brown_normal"></div>
                    </div>
                </li>
                <li class="col-box">
                    <a href="#" class="pro_9 pic_style"></a>
                    <div class="flex product_inf">
                        <p class="fs-4">BJ41600S</p>
                        <p class="fs-4 color_price">NTD3,490</p>
                    </div>
                    <div class="flex">
                        <div class="color_box color_brown_dark"></div>
                        <div class="color_box color_brown_normal"></div>
                    </div>
                </li>
                <li class="col-box">
                    <a href="#" class="pro_10 pic_style"></a>
                    <div class="flex product_inf">
                        <p class="fs-4">BJ41600S</p>
                        <p class="fs-4 color_price">NTD3,490</p>
                    </div>
                    <div class="flex">
                        <div class="color_box color_brown_dark"></div>
                        <div class="color_box color_brown_normal"></div>
                    </div>
                </li>
                <li class="col-box">
                    <a href="#" class="pro_11 pic_style"></a>
                    <div class="flex product_inf">
                        <p class="fs-4">BJ41600S</p>
                        <p class="fs-4 color_price">NTD3,490</p>
                    </div>
                    <div class="flex">
                        <div class="color_box color_brown_dark"></div>
                        <div class="color_box color_brown_normal"></div>
                    </div>
                </li>
                <li class="col-box">
                    <a href="#" class="pro_12 pic_style"></a>
                    <div class="flex product_inf">
                        <p class="fs-4">BJ41600S</p>
                        <p class="fs-4 color_price">NTD3,490</p>
                    </div>
                    <div class="flex">
                        <div class="color_box color_brown_dark"></div>
                        <div class="color_box color_brown_normal"></div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <%- include('./layout/pagination'); -%>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
