<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F&Q問與答</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <section class="container box_pad_top">
      <h2 class="fs-2 fw-bold">常見問題</h2>
      <h3 class="fs-4">我想詢問配鏡問題</h3>
    </section>

    <section class="container box_pad_bottom content">
      <ul>
        <li>
          <h5 class="fs-5 fw-bold">Q1.請問可否自備鏡框單配鏡片？</h5>
          <div>
            pA1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。</br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 </br>他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
          </div>
        </li>
        <li>
          <h5 class="fs-5 fw-bold">Q1.請問可否自備鏡框單配鏡片？</h5>
          <div>
            pA1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。</br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 </br>他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
          </div>
        </li>
        <li>
          <h5 class="fs-5 fw-bold">Q1.請問可否自備鏡框單配鏡片？</h5>
          <div>
            pA1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。</br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 </br>他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
          </div>
        </li>
        <li>
          <h5 class="fs-5 fw-bold">Q1.請問可否自備鏡框單配鏡片？</h5>
          <div>
            pA1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。</br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 </br>他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
          </div>
        </li>
        <li>
          <h5 class="fs-5 fw-bold">Q1.請問可否自備鏡框單配鏡片？</h5>
          <div>
            pA1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。</br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 </br>他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
          </div>
        </li>
      </ul>
      
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
