<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="store_box container">
      <h2 class="store_title fs-2">門市據點</h2>
    </div>
    
    <div class="area flex container">
      <label for="area-select" class="fs-4">選擇地區</label>
      <select name="area" id="area-select" class="drop_list">
        <option value="台北市">台北市</option>
        <option value="台北市">新北市</option>
        <option value="台北市">高雄市</option>
      </select>
    </div>

    <section class="store_list">
      <div class="container">
        <ul class="card_box_store flex">
          <li class="single mb-48">
            <a href="#" class="card_img">
              <img src="../assets/images/store-1.png" alt="中山旗艦">
            </a>
            <div class="detail">
              <h5 class="fs-4">台北中山旗艦店</h5>
              <ul class="infor">
                <li class="title fs-5">
                  <img src="../assets/images/store-icon-p.png" alt="門市電話">
                  電話：(02)000-1234
                </li>
                <li class="title fs-5">
                  <img src="../assets/images/store-icon-t.png" alt="門市時間">
                  營業時間：10:00-21:00
                </li>
                <li class="title_address fs-5">
                  <img src="../assets/images/store-icon-a.png" alt="門市地址">
                  地址：台北市中山區南京東路25巷2-1號
                </li>
              </ul>
              <a href="#" class="btn_infor color_white">
                詳細資訊
              </a>
            </div>
          </li>
          <li class="single">
            <a href="#" class="card_img">
              <img src="../assets/images/store-2.png" alt="台北綠園店">
            </a>
            <div class="detail">
              <h5 class="fs-4">台北綠園店</h5>
              <ul class="infor">
                <li class="title fs-5">
                  <img src="../assets/images/store-icon-p.png" alt="門市電話">
                  電話：(02)000-2345
                </li>
                <li class="title fs-5">
                  <img src="../assets/images/store-icon-t.png" alt="門市時間">
                  營業時間：10:00-21:00
                </li>
                <li class="title_address fs-5">
                  <img src="../assets/images/store-icon-a.png" alt="門市地址">
                  地址：台北市中正區復興南路 132-1 號
                </li>
              </ul>
              <a href="#" class="btn_infor color_white">
                詳細資訊
              </a>
            </div>
          </li>
          <li class="single">
            <a href="#" class="card_img">
              <img src="../assets/images/store-3.png" alt="台中清水旗艦">
            </a>
            <div class="detail">
              <h5 class="fs-4">台中清水旗艦店</h5>
              <ul class="infor">
                <li class="title fs-5">
                  <img src="../assets/images/store-icon-p.png" alt="門市電話">
                  電話：(02)000-1234
                </li>
                <li class="title fs-5">
                  <img src="../assets/images/store-icon-t.png" alt="門市時間">
                  營業時間：10:00-21:00
                </li>
                <li class="title_address fs-5">
                  <img src="../assets/images/store-icon-a.png" alt="門市地址">
                  地址：台中市清水區經南一路 23 號 8 樓
                </li>
              </ul>
              <a href="#" class="btn_infor color_white">
                詳細資訊
              </a>
            </div>
          </li>
          <li class="single">
            <a href="#" class="card_img">
              <img src="../assets/images/store-4.png" alt="高雄中正">
            </a>
            <div class="detail">
              <h5 class="fs-4">高雄中正形象店</h5>
              <ul class="infor">
                <li class="title fs-5">
                  <img src="../assets/images/store-icon-p.png" alt="門市電話">
                  電話：(07)000-2345
                </li>
                <li class="title fs-5">
                  <img src="../assets/images/store-icon-t.png" alt="門市時間">
                  營業時間：10:00-21:00
                </li>
                <li class="title_address fs-5">
                  <img src="../assets/images/store-icon-a.png" alt="門市地址">
                  地址：高雄市苓雅區中正路 38 號 12 樓
                </li>
              </ul>
              <a href="#" class="btn_infor color_white">
                詳細資訊
              </a>
            </div>
          </li>
          <li class="single">
            <a href="#" class="card_img">
              <img src="../assets/images/store-5.png" alt="高雄夢時代">
            </a>
            <div class="detail">
              <h5 class="fs-4">高雄夢時代店</h5>
              <ul class="infor">
                <li class="title fs-5">
                  <img src="../assets/images/store-icon-p.png" alt="門市電話">
                  電話：(07)000-1234
                </li>
                <li class="title fs-5">
                  <img src="../assets/images/store-icon-t.png" alt="門市時間">
                  營業時間：10:00-21:00
                </li>
                <li class="title_address fs-5">
                  <img src="../assets/images/store-icon-a.png" alt="門市地址">
                  地址：高雄市前鎮區中華一路 63 號 6 樓
                </li>
              </ul>
              <a href="#" class="btn_infor color_white">
                詳細資訊
              </a>
            </div>
          </li>
        </ul>
      </div>
    </section>

    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
